.panel {
  padding: 15px;
  margin-bottom: 20px;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}

.panel-heading {
  padding: 5px 5px;
  margin: -15px -15px 15px;
  font-size: 12.5px;
  font-weight: 500;      
  background-color: #f5f5f5;
  border-bottom: 1px solid #dddddd;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}
.aui {
label {
		color: #555;
		font-size: 14px;
		font-weight: 600;
		float:left;
		line-height:14px;
		padding-top:0px;
		font-family: sans-serif;
		font: small-caption;
		width:29%;
		margin-right:1%;
	}
	select {
		border-radius: 4px;
		width:70%;
		font-size:12px;
	}
	input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="month"],input[type="file"],input[type="checkbox"] input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], input[type="week"], select, textarea, .uneditable-input {
		border: 1px solid #DDD;
		color: #8D8D8D;
		border-radius: 4px;
		font-weight: 200;
		width:64%;
		font-size:12px;
		border-radius: 4px;
		&:focus {
			border-color: rgba(0, 172, 255, 0.8);
		}
	}
}
#test
{
	margin-left: 20px;
	margin-right: 20px;
}