.panel {
  padding: 15px;
  margin-bottom: 20px;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05); }

.panel-heading {
  padding: 5px 5px;
  margin: -15px -15px 15px;
  font-size: 12.5px;
  font-weight: 500;
  background-color: #f5f5f5;
  border-bottom: 1px solid #dddddd;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px; }

.aui label {
  color: #555;
  font-size: 14px;
  font-weight: 600;
  float: left;
  line-height: 14px;
  padding-top: 0px;
  font-family: sans-serif;
  font: small-caption;
  width: 29%;
  margin-right: 1%; }
.aui select {
  border-radius: 4px;
  width: 70%;
  font-size: 12px; }
.aui input[type="color"], .aui input[type="date"], .aui input[type="datetime"], .aui input[type="datetime-local"], .aui input[type="email"], .aui input[type="month"], .aui input[type="file"], .aui input[type="checkbox"] input[type="number"], .aui input[type="password"], .aui input[type="search"], .aui input[type="tel"], .aui input[type="text"], .aui input[type="time"], .aui input[type="url"], .aui input[type="week"], .aui select, .aui textarea, .aui .uneditable-input {
  border: 1px solid #DDD;
  color: #8D8D8D;
  border-radius: 4px;
  font-weight: 200;
  width: 64%;
  font-size: 12px;
  border-radius: 4px; }
  .aui input[type="color"]:focus, .aui input[type="date"]:focus, .aui input[type="datetime"]:focus, .aui input[type="datetime-local"]:focus, .aui input[type="email"]:focus, .aui input[type="month"]:focus, .aui input[type="file"]:focus, .aui input[type="checkbox"] input[type="number"]:focus, .aui input[type="password"]:focus, .aui input[type="search"]:focus, .aui input[type="tel"]:focus, .aui input[type="text"]:focus, .aui input[type="time"]:focus, .aui input[type="url"]:focus, .aui input[type="week"]:focus, .aui select:focus, .aui textarea:focus, .aui .uneditable-input:focus {
    border-color: rgba(0, 172, 255, 0.8); }

#test {
  margin-left: 20px;
  margin-right: 20px; }

