.aui .day {
  background: #FAFAFA;
  /* ---------- Portlet ---------- */
  /* ---------- Portlet hover styles ---------- */ }
  .aui .day #navigation .navbar-inner {
    background: #F6F6F6; }
    .aui .day #navigation .navbar-inner .nav > li a {
      color: #777; }
  .aui .day .portlet {
    background: transparent; }
  .aui .day .portlet-title {
    color: #29B23E; }
  .aui .day .columns-max .portlet .portlet-topper-toolbar a {
    color: #555; }

