.aui .night {
  background: #363636;
  color: #E3E3E3;
  /* ---------- Dockbar ---------- */
  /* ---------- Nav#Navigation ---------- */
  /* ---------- Breadcrumbs ---------- */
  /* ---------- Portlet ---------- */
  /* ---------- Tables ---------- */ }
  .aui .night.portal-popup {
    background-color: transparent;
    color: #555; }
    .aui .night.portal-popup legend {
      color: #555; }
  .aui .night.yui3-skin-sam .yui3-widget-mask {
    background-color: #111; }
  .aui .night a {
    color: #009CEB; }
  .aui .night legend, .aui .night .portlet-wiki .portlet-body h3, .aui .night .taglib-header {
    color: #E3E3E3; }
  .aui .night .modal-content, .aui .night .modal-content legend {
    color: #555; }
  .aui .night .dockbar .nav li.dropdown .dropdown-menu {
    background: #007BB3; }
  .aui .night #breadcrumbs {
    padding-left: 10px; }
  .aui .night #navigation .navbar-inner {
    background: #2F2F2F; }
    .aui .night #navigation .navbar-inner .nav > li > a {
      color: #E3E3E3; }
  .aui .night .breadcrumb li a {
    color: #E3E3E3; }
  .aui .night .lfr-header-row-content {
    padding: 3px 0 0; }
  .aui .night .portlet {
    background: #363636; }
  .aui .night .portlet-title {
    color: #00CAFF; }
  .aui .night .table {
    color: #555; }

